{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to the URL Shortener{% endblock %}</h1>
    <table id="data" class="table table-striped">

        <thead>
          <tr>
              <th>Shortened URL</th>
          </tr>
        </thead>
        
        <div>
            Status: {{status}}
        </div>

        <!-- <tbody>
          {% for key, value in result.items() %}
            <tr>
              <td> {{ value }} </td>
              <td> {{ result.url }} </td>
            </tr>
          {% endfor %} -->
      
          <tbody>
                <tr>
                  <td> {{ result.urlShort }} </td>
                </tr>
              
      </table>
{% endblock %}