{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to the URL Shortener{% endblock %}</h1> 
    <form method="POST">
      <label for="url">Enter url to shorten:</label>
      <input name="urlLong">
      <input type="submit">
    </form>    
    
    <form>
      <label for="Short URL:">Generated URL:</label>
      <input type="text" id="urlShort" name="urlShort" value={{result.urlShort}} readonly><br><br>
    </form>

    <br />
    <button onclick="copyText()">Copy</button>
    <br />
   
 
    <script>
        function copyText() {
        
        /* Select text area by id*/
        var Text = document.getElementById("urlShort");

        /* Select the text inside text area. */
        Text.select();

        /* Copy selected text into clipboard */
        navigator.clipboard.writeText(Text.value);

        /* Set the copied text as text for 
        div with id clipboard */
        document.getElementById("clipboard")
            .innerHTML = Text.value;
    }
    </script>
{% endblock %}